html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  font-size: 125%;
}

body {
  font-family: 'Quicksand', sans-serif;
}

header {
  height: 400px;
  max-width: 1400px;
  background-image: url('./assets/popcorn.jpg');
  background-repeat: no-repeat;
  /* background-size: 150%;
  background-position: 80% 0; */
  background-size: 110%;
  background-position: 80% 20%;

  margin: 0 auto;
}

header div {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

header p {
  width: 450px;
  text-align: right;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
}

h1 {
  font-family: 'Bowlby One SC', sans-serif;
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 75px;
}

.wrapper {
  max-width: 1150px;
  width: 90%;
  margin: 0 auto;
}

button {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border-radius: 5px;
  border: none;
  padding: 15px 30px;
  width: 250px;
  margin: 0 calc((100% - 250px) / 2);
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.container {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
}

.imageContainer,
.textContainer {
  width: 50%;
}

.textContainer {
  padding: 30px;
}

.container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  display: block;
}

.middleImage img {
  border-radius: 0px 10px 10px 0px;
}

.recommendation {
  margin: 40px auto;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  padding: 20px 0;
}

.recText {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recText h3{
margin: 0;
text-transform: uppercase;
font-size: 1rem;
}
.recText p {
  margin: 5px 0;
}

.recText ul {
  list-style-type: none;
  padding-left: 0;
}

.recText li {
  margin: 30px 0;
}

.recText button {
  margin: 0;
}

.recText .change {
  margin-top: 30px;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}

.recImage {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.recImage img,
.mobilePoster {
  max-width: 100%;
  max-height: 700px;
  border-radius: 10px;
}

.mobilePoster {
  display: none;
}

.error {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorText h3 {
  text-transform: uppercase;
}

.retry {
  text-decoration: underline;
  
}



footer {
  background-color: #000;
  color: white;
  text-transform: uppercase;
  text-align: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

footer p {
  margin: 10px 0;
  /* font-size: 0.8rem; */
  font-weight: bold;
}

.hidden {
  display: none;
}

@media (max-width: 950px) {
  h1 {
    font-size: 3.5rem;
  }

  header p {
    font-size: 1rem;
    width: 400px;
  }
}

@media (max-width: 850px) {

  .recommendation {
    flex-direction: column;
    
  }
  .recText {
    width: 100%;
    align-items: center; 
  }

  .recText ul {
    margin: 30px 50px 30px 60px;
  }

  .desktopPoster {
    display: none;
  }
  
  .mobilePoster {
    display: initial;
    max-width: 50%;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {

  header {
    background-size: 125%;
  }
  h1 {
    font-size: 3.2rem;
  }

  header p {
    font-size: 0.9rem;
    width: 350px;
  }
   h2 {
     margin-top: 40px;
    font-size: 1.2rem;
    text-align: center;
  }
  .container {
    flex-direction: column;
    width: 60%;
    margin: 40px auto;
  }

  .imageContainer,
  .textContainer {
  width: 100%;
}

.container img {
  border-radius: 10px 10px 0 0;
  height: 200px;
}

.middleImage {
  order: -1;
}

footer {
  margin-top: 40px;
}
  footer p {
    font-size: 0.7rem;
  }
}

@media (max-width: 650px) {

  header {
    background-size: 125%;
    background-position: 100% 0;
    height: 300px;
  }
  h1 {
    font-size: 3rem;
  }

  header p {
    font-size: 0.8rem;
    width: 325px;
  }
}

@media (max-width: 580px) {

  header {
    height: 250px;
  }
  h1 {
    font-size: 2.5rem;
  }

  header p {
    font-size: 0.7rem;
    width: 280px;
  }

  .container {
    width: 75%;
  }
}

@media (max-width: 480px) {

  header {
    height: 225px;
  }
  h1 {
    font-size: 2.2rem;
  }

  header p {
    font-size: 0.6rem;
    width: 250px;
  }

  .mobilePoster {
    max-width: 60%;
  }
}